body {
  background-color:#FAF9F6;
  font-family: Sans-serif,Times New Roman,Georgia;
  margin: 5%;    
}

.me {
  text-align: center;
  border-top: 2px solid #E8DACC;
  border-bottom: 2px solid #E8DACC;
  color: #643500;
  text-transform: uppercase;
}
   
.skills {
  padding:20px;
  color: #643500;
  border-bottom:2px solid #E8DACC;
}

.me{
   
  color: #643500;
}

.exp {
  padding:20px;
  color: #643500;
}

.edu { 
  border-bottom:2px solid #E8DACC;
  border-top:2px solid #E8DACC;
  padding:20px;
  color: #643500;
}

h2{
  font-size: 20px;
}

img {
  margin-top:30px;
  width:15%;  
  border: 3px solid #E8DACC;
}

